<h3>Dane do zamówienia</h3>
<form #orderForm="ngForm" (onSubmit)="processOrder()">
    <div class="row">
        <div class="col-lg-6 col-md-12">
            <section class="form-block">
                <label>Dane zamawiającego</label>
                <div class="form-group row">
                    <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                        <label>Imię</label>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <input class="form-control" name="firstname" #firstname="ngModel" [(ngModel)]="order.client.firstname" type="text" placeholder="Anna" required>
                        <span class="label label-danger" *ngIf="firstname.errors?.required">Pole jest wymagane</span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                        <label>Nazwisko</label>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <input class="form-control" name="lastname" [(ngModel)]="order.client.lastname" type="text" placeholder="Kowalska" #lastname="ngModel" required>
                        <span class="label label-danger" *ngIf="lastname.errors?.required">Pole jest wymagane</span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                        <label>Adres</label>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <input class="form-control" name="address" [(ngModel)]="order.client.address" type="text" placeholder="ul. Królewska 1/2a" #address="ngModel" required>
                        <span class="label label-danger" *ngIf="address.errors?.required">Pole jest wymagane</span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                        <label>Kod pocztowy</label>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <input class="form-control" name="postcode" [(ngModel)]="order.client.postcode" type="text" placeholder="00-000" #postcode="ngModel" required>
                        <span class="label label-danger" *ngIf="postcode.errors?.required">Pole jest wymagane</span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                        <label>Miejscowość</label>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <input class="form-control" name="city" [(ngModel)]="order.client.city" type="text" placeholder="Warszawa"#city="ngModel" required>
                        <span class="label label-danger" *ngIf="city.errors?.required">Pole jest wymagane</span>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-lg-6 col-md-12">
            <section class="form-block">
                <label>Dane kontakowe</label>
                
                <div class="form-group row">
                    <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                        <label>Email</label>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <input class="form-control" type="text" name="email" [(ngModel)]="order.client.email" placeholder="adres@email.pl" #email="ngModel" required>
                        <span class="label label-danger" *ngIf="email.errors?.required">Pole jest wymagane</span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                        <label>Telefon kontakowy</label>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <input class="form-control" name="phone" [(ngModel)]="order.client.phone" type="text" placeholder="606 606 606" #phone="ngModel" required>
                        <span class="label label-danger" *ngIf="phone.errors?.required">Pole jest wymagane</span>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-8 offset-md-2">
            <div>
                <div class="checkbox-inline">
                    <input type="checkbox" id="policy" name="policy" [(ngModel)]="personalDataRules" #policy="ngModel" required>
                    <label for="policy">Wyrażam zgodę na przetwarzanie moich danych osobowych przez (dane firmy – nazwa, adres, nip, regon) w celu realizacji umowy w zgodzie z postanowieniami Polityki prywatności.</label>
                    <span class="label label-danger" *ngIf="policy.errors?.required">Musisz wyrazić zgodę na przetwarzanie danych osobowych</span>
                </div>
            </div>
            <div>
                <div class="checkbox-inline">
                    <input type="checkbox" id="rules" name="rules" [(ngModel)]="shopRules" #rules="ngModel" required>
                    <label for="rules">Akceptuję regulamin</label>
                    <span class="label label-danger" *ngIf="rules.errors?.required">Musisz zaakceptować regulamin sklepu</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="text-center">
                {{ orderForm.error | json }}
                <button type="submit" class="btn btn-success" [disabled]="!orderForm.form.valid">Złóż zamówienie</button>
            </div>
        </div>
    </div>
</form>